body{
    background: #ECEEF1;
}


header{
    text-align: right;
    padding: 0% 2%;
}

header p{
    display: inline-block;
    margin-top: 0px;
    font-size: 14px;
    opacity: 0.8;
}

header p a{
   text-decoration: none;
   color: #1280C8
}
header button{
    padding: 0.8%;
    margin-left: 5px;
    width: 102px;
    height: 34px;
    background: #0077C5;
    color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(43, 42, 42);
    vertical-align: top;
}

header button i{
    margin-right: 5px;
}


.title-images {
    text-align: center;
    margin: 40px auto;
}

.product-links img {
    vertical-align: text-bottom;
}

.product-links span {
    font-size: 20px;
    font-family: sans-serif;
    opacity: 0.7;
}
.form-div{
    width: 350px;
    margin: 20px auto;
    height: 600px;
    background: #FFFFFF;
    border: 1px solid #80808094;
    padding: 30px;
}

h2{
    color: #4C4C4C;
    line-height: 1.1;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
}
.form-div p{
    text-align: center;
    padding: 0 10px;
}
input{
    width: 100%;
    border-radius: 3px;
    line-height: 1.3em;
    color: #000;
    outline: 0;
    font-size: 1.2em;
    margin-top: 5px;
    border: 1px solid #80808066;
}